# Dependencies
node_modules/

# Next.js
.next/
out/
build/
dist/

# Env / secrets
.env
.env.*
!.env.example

# Logs & OS
*.log
.DS_Store
Thumbs.db
*.tmp
*.swp

# IDE
.vscode/
.idea/

# TypeScript
next-env.d.ts
*.tsbuildinfo

# Debug / coverage
coverage/
